/* ----- ESTILOS BASE ----- */
/* Importación de fuentes desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

:root {
  /* Colores */
  --title-color: #121f26;
  --text-color: #676f73;
  --white-color: #ffffff;
  --dust-color: #b6886a;
  --bone-color: #e5dad0;
  --cinnamon-color: #b29a89;
  --gray-color: #504f4c;
  --green-color: #a9b4a4;

  /* Fuentes */
  --body-font: "Montserrat", sans-serif;

  /* Anchura máxima del contenido en desktop */
  --max-width: 1200px;

  /* Tamaños */
  --header-height: 3rem;
  --section-spacing: 4rem;
  --block-spacing: 2rem;
  --body-line-height: 1.6;
  --title-line-height: 1.3;

  /* Tamaños de fuentes */
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --big-font-size: 1rem;
  --normal-font-size: 0.875rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.6875rem;

  /* Capas */
  --z-back: -10;
  --z-normal: 1;
  --z-front: 10;
  --z-tooltip: 20;
  --z-overlay: 30;
  --z-modal: 40;
  --z-fixed: 50;
  --z-off-canvas: 100;
}

* {
  box-sizing: border-box;
}

body {
  min-height: calc(100vh - var(--header-height));
  color: var(--gray-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--body-line-height);
  background-color: var(--cinnamon-color);
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: var(--title-line-height);
  font-weight: 800;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

.main h1 {
  margin-bottom: var(--block-spacing);
  padding-top: var(--block-spacing);
}

.content-wrapper {
  width: calc(100% - 2rem);
  max-width: var(--max-width);
  margin-left: 1rem;
  margin-right: 1rem;
}

.section-container {
  margin-bottom: var(--section-spacing);
}

.section-container h1,
.section-container h2 {
  text-align: center;
}

/* Botones */
.button {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  border-radius: 10rem;
  text-decoration: none;
  font-weight: 400;
  color: var(--gray-color);
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
}

/* LOGIN */
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
}

.header h1 {
  text-transform: uppercase;
  color: var(--bone-color);
  font-weight: 400;
}

.login {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.image-container {
  display: flex;
  background-color: var(--dust-color);
  width: 500px;
  height: 700px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 1px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap-reverse;
  padding: 5rem;
  width: 500px;
  height: 700px;
  background-color: var(--bone-color);
  box-shadow: 0px 0px 30px 1px;
}

.login-buttons-top {
  width: 100%;
  text-align: end;
  order: 1;
}

.login-input h2 {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--title-color);
}

.login-input input {
  background-color: var(--bone-color);
  border: 0;
  border-bottom: 0.5px solid var(--gray-color);
  width: 100%;
  margin-bottom: var(--block-spacing);
}

.login-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: var(--block-spacing);
}

.login-checkbox a {
  color: var(--green-color);
}

.login-checkbox p {
  margin-left: 10px;
  margin-bottom: 0;
}

.login-buttons-bottom .button {
  margin-right: 20px;
}

.login-buttons-bottom .member {
  text-decoration: none;
  color: var(--gray-color);
}
