/* ----- ESTILOS BASE ----- */
/* Importación de fuentes desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;600;800&display=swap");

:root {
  /* Colores */
  --title-color: #121f26;
  --text-color: #676f73;
  --white-color: #ffffff;
  --dust-color: #b6886a;
  --bone-color: #e5dad0;
  --cinnamon-color: #b29a89;
  --gray-color: #504f4c;
  --green-color: #a9b4a4;

  /* Fuentes */
  --body-font: "Montserrat", sans-serif;

  /* Anchura máxima del contenido en desktop */
  --max-width: 1200px;

  /* Tamaños */
  --header-height: 3rem;
  --section-spacing: 4rem;
  --block-spacing: 2rem;
  --body-line-height: 1.6;
  --title-line-height: 1.3;

  /* Tamaños de fuentes */
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --big-font-size: 1rem;
  --normal-font-size: 0.875rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.6875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: calc(100vh - var(--header-height));
  min-width: 320px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--body-line-height);
  color: var(--gray-color);
  background-color: var(--cinnamon-color);
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: var(--title-line-height);
  font-weight: 800;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

.main h1 {
  margin-bottom: var(--block-spacing);
  padding-top: var(--block-spacing);
}

.content-wrapper {
  width: calc(100% - 2rem);
  max-width: var(--max-width);
  margin-left: 1rem;
  margin-right: 1rem;
}

.section-container {
  margin-bottom: var(--section-spacing);
}

.section-container h1,
.section-container h2 {
  text-align: center;
}

/* Botones */
.button {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  text-decoration: none;
  color: var(--gray-color);
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 10rem;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------ LOGIN ------------------------------ */
.main {
  flex-direction: column;
}
.header h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--bone-color);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 450px;
}

.image-container {
  display: none;
}

.login-container {
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: center;
  padding: 4em;
  height: 450px;
  background-color: var(--bone-color);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 1px;
}

.login-buttons-top {
  width: 100%;
  text-align: center;
  order: 1;
}

.button-left {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: var(--small-font-size);
  color: var(--gray-color);
  text-decoration: none;
  border: 1px solid var(--green-color);
  border-radius: 5rem 0 0 5rem;
}

.button-right {
  display: inline-block;
  margin-left: -4px;
  padding: 0.5rem 1rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
  text-decoration: none;
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 0 5rem 5rem 0;
}

.button-left:hover {
  background-color: #c5cfbf;
  transition-duration: 0.3s;
}

.button-right:hover {
  background-color: #c5cfbf;
  color: var(--white-color);
  transition-duration: 0.3s;
}

.login-content {
  text-align: center;
  width: 100%;
}

.login-input h2 {
  text-align: center;
  font-weight: 400;
  color: var(--title-color);
  text-transform: uppercase;
  padding-top: 2em;
}

.login-input input {
  text-align: center;
  width: 100%;
  height: 50px;
  margin-bottom: 4em;
  background-color: var(--bone-color);
  border: 0;
  border-bottom: 0.5px solid var(--gray-color);
}

.login-input input:focus-visible {
  border: 0;
  border-bottom: 0.5px solid var(--gray-color);
  outline: 0;
  opacity: 0.8;
  transition-duration: 0.3s;
}

.login-checkbox {
  display: none;
}

.login-buttons-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-buttons-bottom .button {
  margin-bottom: 1em;
}

.login-buttons-bottom .button:hover {
  transition-duration: 0.3s;
  box-shadow: 0 0 3px 0.1px;
}

.login-buttons-bottom .member {
  text-decoration: none;
  color: var(--gray-color);
}

.login-buttons-bottom .member:hover {
  border-bottom: 1px solid var(--green-color);
  transition-duration: 0.1s;
}

/* ------------------------- PANTALLA PRINCIPAL ------------------------- */
/* ----- NUEVO HEADER ----- */
.nav-container {
  position: fixed;
  z-index: 200;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  background-color: #b6886a;
}

.content-wrapper {
  width: calc(100% - 2rem);
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.action .profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action .profile a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

.action .menu {
  position: absolute;
  top: 45px;
  right: -15px;
  padding: 10px 20px;
  background-color: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 1);
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 50px;
  visibility: visible;
  opacity: 1;
  z-index: 200;
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}

.action .menu ul {
  display: flex;
  flex-direction: column;
}

.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li:hover a {
  color: #b6886a;
}

nav .logo {
  font-size: var(--h3-font-size);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px 10px;
}

#click {
  display: none;
}

/* ----- NUEVO MENU ----- */
.menu-container {
  position: fixed;
  top: 60px;
  z-index: 100;
  height: 60px;
  width: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b29a89;
}

.wrapper nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  display: flex;
}

.content .links li {
  list-style: none;
  margin-right: 2em;
}

.content .links li a {
  text-transform: uppercase;
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px 10px;
}

.content .links li a:hover {
  color: var(--bone-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 60px;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #504f4c;
  background-color: #e5dad0;
  padding: 0 100px 0 15px;
}

.search-box input::placeholder {
  color: #504f4c;
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background-color: #b6886a;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Responsive code start */
@media screen and (max-width: 767px) {
  .wrapper .menu-icon {
    display: block;
  }

  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }

  nav .content .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #14181f;
    height: calc(100vh - 120px);
    width: 100%;
    top: 120px;
    left: -100%;
    margin-left: 0;
    max-width: 768px;
    transition: all 0.3s ease;
    z-index: 200;
  }

  nav #show-menu:checked ~ .content .links {
    left: 0;
  }

  .content .links li {
    margin: 15px 20px;
  }

  .content .links li a {
    line-height: 40px;
    font-size: var(--big-font-size);
    display: block;
    padding: 8px 18px;
  }
}

/* Banner */
.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 100%;
  margin: 0 auto;
  max-height: calc(100vh - 120px);
}

.c-header {
  display: block;
  width: 100%;
}

.u-a5 {
  font-family: Arial;
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.u-b4 {
  font-family: Arial;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  font-weight: normal;
  color: #fff;
}

a {
  text-decoration: none;
}

.u-media-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 0;
}
.u-media-wrapper.u-media-wrapper--16-9 {
  padding-bottom: 56.25%;
}

.c-gradient-overlay {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 49% 50%,
    rgba(2, 21, 25, 0.3),
    rgba(2, 21, 25, 0.6)
  );
}

.c-mouse-vertical-carousel {
  position: relative;
  overflow: hidden;
}
.c-mouse-vertical-carousel__list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.c-mouse-vertical-carousel__images {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}
.c-mouse-vertical-carousel__list-item a {
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 54.1666666667%;
}
.c-mouse-vertical-carousel__eyebrow {
  position: relative;
  padding-bottom: 12px;
}
.c-mouse-vertical-carousel__eyebrow span {
  position: absolute;
  left: -30px;
  top: 2px;
}
.c-mouse-vertical-carousel__title {
  max-width: 450px;
}
.c-mouse-vertical-carousel__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

/* .banner-section {
  height: 100vh;
  padding-top: var(--header-height);
  background-color: #121f26;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.blur {
  height: 100%;
  padding-top: var(--header-height);
  backdrop-filter: blur(3px);
  background-color: rgba(20, 20, 20, 0.75);
}

.banner-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bone-color);
  text-transform: uppercase;
}

.banner-container h2 {
  margin: 0;
  font-weight: 400;
}

.banner-container span {
  font-size: var(--h1-font-size);
  cursor: pointer;
} */

/* Spotlight */
.spotlight-section {
  position: relative;
  height: auto;
  padding-top: 3em;
  background-color: var(--bone-color);
}

.spotlight-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotlight-title h2 {
  margin-bottom: 2em;
  font-weight: 600;
  color: var(--title-color);
  text-transform: uppercase;
}

.card {
  height: 350px;
  max-width: 250px;
  margin: 0 1.5em;
  margin-bottom: 3em;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.1px;
}

.image-content {
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-color);
}

.image-content {
  border-radius: 5px 5px 0 0;
}

.card-info {
  padding: 1.5em;
  text-align: start;
}

.card-info h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--title-color);
}

/* Attraction */
.attraction-section {
  height: 400px;
  background-color: #121f26;
  background-image: url(../img/attraction.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.blur-attraction {
  height: 400px;
  backdrop-filter: blur(3px);
  background-color: rgba(20, 20, 20, 0.75);
}

.attraction-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attraction-container h2 {
  margin-bottom: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bone-color);
}

/* More to explore */
.spotlight-alt {
  height: auto;
  background-color: var(--cinnamon-color);
}

/* Footer */
.footer-section {
  height: auto;
  background-color: var(--gray-color);
}

.footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  color: var(--bone-color);
}

.footer-title h2 {
  margin: 0;
  font-size: var(--big-font-size);
  text-transform: uppercase;
  font-weight: 400;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
}

.footer-nav ul li {
  margin-bottom: 1em;
  font-size: var(--smaller-font-size);
}

/* ------------------------- ATRACCIONES ------------------------- */
.attraction-page {
  height: auto;
  padding-top: 120px;
}
/* More to explore */
.more-section {
  height: auto;
  padding: 6em 0;
  background-color: var(--bone-color);
}
.card-container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(250px, auto);
  gap: 40px;
  grid-auto-flow: row;
}

.card-attraction {
  margin: 0;
}

/* ------------------------- PRODUCTO ------------------------- */
.product-section {
  height: auto;
  padding-top: 120px;
  text-align: center;
  background-color: var(--bone-color);
}

.product-container {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
}

.product-image img {
  width: 100%;
  max-width: 350px;
}

.product-box {
  max-width: 350px;
}

.product-description h1 {
  padding-top: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.product-description p {
  margin-bottom: 2em;
}

.product-description p:last-child {
  display: none;
}

.product-buy h2 {
  font-weight: 400;
}

.product-buttons {
  display: flex;
  flex-direction: column;
}

.product-buttons a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gray-color);
  background-color: var(--green-color);
}

.button-1 {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 0 1.5em;
  font-size: var(--h4-font-size);
  border-radius: 50px;
}

.button-2 {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 50px;
}
